@mixin mq($value, $constraint: max, $feature: width) {
	@media screen and (#{$constraint}-#{$feature}: $value + px) {
		@content;
	}
}

@mixin font-smoothing($val: antialiased) {
	-webkit-font-smoothing: $val; //sass-lint:disable-line no-misspelled-properties
	-moz-font-smoothing: $val; //sass-lint:disable-line no-misspelled-properties
	-ms-font-smoothing: $val; //sass-lint:disable-line no-misspelled-properties
	-o-font-smoothing: $val; //sass-lint:disable-line no-misspelled-properties
}

@mixin clearfix {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin hover {
	@media only screen and (min-width: 1080px) {
		&:hover {
			@content;
		}
	}
}

@mixin landscape {
	@media screen and (orientation: landscape) {
		@content;
	}
}
